name: tests/release-extensions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # Run at 8:00 AM every day
    - cron: "0 8 * * *"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
    - name: Setup Rust toolchain
      uses: ./.github/actions/toolchains/rust
    - name: Cache cargo
      uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      with:
        shared-key: ${{ runner.os }}-regorus
    - name: Fetch dependencies
      run: cargo fetch --locked
    - name: Run rego extensions CI suite
      run: >-
        cargo xtask ci-release --frozen --features rego-extensions
        --skip-all-features-build --skip-no-default-features-tests
        --skip-azure-policy --skip-azure-rbac
        --opa-features "opa-testutil,serde_json/arbitrary_precision,rego-extensions"
