# Copyright (c) Microsoft Corporation. All rights reserved.
#
name: tests/release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # Run at 8:00 AM every day
    - cron: "0 8 * * *"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Setup Rust toolchain
      uses: ./.github/actions/toolchains/rust
    - name: Cache cargo
      uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      with:
        shared-key: ${{ runner.os }}-regorus
    - name: Fetch dependencies
      run: cargo fetch --locked
    - name: Run release CI suite
      run: cargo xtask ci-release --frozen
