# Copyright (c) Microsoft Corporation. All rights reserved.
#
name: publish-java

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            extension: so
            build_cmd: zigbuild
            glibc: "2.17"
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
            extension: so
            build_cmd: zigbuild
            glibc: "2.17"
          - target: x86_64-apple-darwin
            os: macos-latest
            extension: dylib
          - target: aarch64-apple-darwin
            os: macos-latest
            extension: dylib
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            extension: dll
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 8
          distribution: "corretto"
      - uses: ./.github/actions/toolchains/rust
        with:
          targets: ${{ matrix.target }}
      - if: ${{ matrix.build_cmd == 'zigbuild' }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.11"
      - if: ${{ matrix.build_cmd == 'zigbuild' }}
        run: pip install cargo-zigbuild
      - run: cargo fetch --locked
      - run: cargo fetch --locked --manifest-path bindings/java/Cargo.toml
      - run: cargo ${{ matrix.build_cmd || 'build' }} --release --frozen --target ${{ matrix.target }}${{ matrix.glibc && format('.{0}', matrix.glibc) || '' }} --manifest-path ./bindings/java/Cargo.toml
      - run: mkdir -p native/${{ matrix.target }}
      - run: mv target/${{ matrix.target }}/release/*.${{ matrix.extension }} ./native/${{ matrix.target }}/
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: native-libraries-${{ matrix.target }}
          path: native/

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 8
          distribution: "corretto"
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: native-libraries-*
          merge-multiple: true
          path: ./bindings/java/native/
      - run: mvn package
        working-directory: ./bindings/java
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: built-jars
          path: ./bindings/java/target/regorus-java-*.jar
      - run: mvn deploy
        working-directory: ./bindings/java
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
