name: bindings/ffi

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # Run at 8:00 AM every day
    - cron: "0 8 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/toolchains/rust

      - name: Test FFI
        run: |
          cargo fetch
          cargo build -r --frozen
          cargo clippy --all-targets --no-deps -- -Dwarnings
          cargo test --features contention_checks --frozen
        working-directory: ./bindings/ffi
