name: bindings/wasm

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # Run at 8:00 AM every day
    - cron: "0 8 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0

      - name: Setup Rust toolchain
        uses: ./.github/actions/toolchains/rust
      - name: Cache cargo
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: ${{ runner.os }}-regorus
      - name: Fetch dependencies
        run: cargo fetch --locked

      - name: Fetch WASM crate dependencies
        run: cargo fetch --locked --manifest-path bindings/wasm/Cargo.toml

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - name: Install wasmlpack
        run: cargo install wasm-pack

      - name: Test wasm binding via xtask
        run: cargo xtask test-wasm --release --frozen --node node
