# Copyright (c) Microsoft Corporation. All rights reserved.
#
name: bindings/no-std

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # Run at 8:00 AM every day
    - cron: "0 8 * * *"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: ./.github/actions/toolchains/rust
      with:
        targets: thumbv7m-none-eabi
    - name: Cache cargo
      uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      with:
        shared-key: ${{ runner.os }}-regorus
    - name: Fetch dependencies
      run: cargo fetch --locked
    - name: Fetch ensure_no_std crate dependencies
      run: cargo fetch --locked --manifest-path tests/ensure_no_std/Cargo.toml --target thumbv7m-none-eabi
    - name: Test no-std
      run: cargo xtask test-no-std --release --frozen

