name: bindings/no-std

on:
  push:
    branches: [ "main", "azure-policy" ]
  pull_request:
    branches: [ "main", "azure-policy" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Add no_std target
      run: rustup target add thumbv7m-none-eabi
    - name: Fetch
      run: cargo fetch
    - name: Build
      run: cargo build -r --target thumbv7m-none-eabi --frozen
      working-directory: ./tests/ensure_no_std

